<div class="column">
    <div class="ui fluid card">
        <a href="{{ path(omni_sylius_search_get_route(resource), {slug: resource.translation.slug}) }}" class="blurring dimmable image">
            <div class="ui dimmer transition hidden">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">View more</div>
                    </div>
                </div>
            </div>
            {% set title = '' %}

            {% if resource.name is defined and resource.name is not null %}
                {% set title = resource.name %}
            {% elseif resource.title is defined and resource.title is not null %}
                {% set title = resource.title %}
            {% elseif resource.translation.title is defined and resource.translation.title is not null %}
                {% set title = resource.translation.title %}
            {% endif %}

            <img src="{{ resource.images.first ? resource.images.first.path|imagine_filter('sylius_shop_product_thumbnail') : 'https://placehold.it/262x255' }}" alt="{{ title }}" class="ui bordered image dimmable">
        </a>
        <div class="content">
            <a href="#" class="header sylius-product-name">{{ title }}</a>
        </div>
    </div>
</div>
